/* app global css */

/* HEADER */

a {
    text-decoration: none;
}

h1 {
    margin-block-start: 0.35em;
    margin-block-end: 0.35em;
    font-size: 3rem;
}

.nav {
    background-color: #37464E;
}

.nav.q-list a {
    color: #fff;
}

.roundedImages {
    border-radius: 50%;
}

.text-subtitle-3 {
    font-size: 11px;
}

/** FAQ **/
.faq:first-child {
    float: right;
    width: 250px!important;
    height: 250px!important;
    background-color: #AEE3AC!important;
}

.faq {
    width: 200px!important;
    height: 200px!important;
    background-color: #00CEAE!important;
}

.faq:last-child {
    width: 250px!important;
    height: 250px!important;
    background-color: #20313A!important;
}